@media screen and (max-width: 1600px) {}
@media screen and (min-width: 751px) {
  /*HOVER PC*/
  .under #content .bnr01 a:hover, .under #content .bnr02 li a:hover {
    transform: translateY(-2px);
  }
  .under #content .bnr01 a:hover:after {
    border-color: transparent transparent transparent #F39800;
  }
  .under #content .bnr01 a:hover:before {
    width: 100%;
    height: 100%;
    background: rgba(18, 46, 100, 0.5);
  }
  .under #content .bnr02 li a:hover {
    background-color: #164574;
  }
  .under #content .bnr02 a:hover:after {
    border-color: transparent transparent #FFB842 transparent;
  }
  .under #topic_path li a:hover {
    text-decoration: none;
  }
  .under #content .anchor_link li a:hover {
    background: #2D425B;
    color: #fff;
  }
  .under #content .under_btn01 a:hover {
    background: #fff;
    color: #2D425B;
  }
  .under #content .anchor_link li a:hover:before {
    background: url("../images/u_arrow_d_w.svg") center center no-repeat;
    background-size: 100% auto;
  }
  .under #content .anchor_link.btn_2col li a:hover:before {
    background: url("../images/u_arrow_r_w.svg") center center no-repeat;
    background-size: 100% auto;
  }
  .under #content .under_btn01 a:hover:before {
    background: url("../images/u_arrow_r.svg") center center no-repeat;
    background-size: 100% auto;
  }
  .under #content .img_hover:hover, .brand_slider .slider01 .arrow_scroll:hover {
    opacity: 0.8;
  }
  .under .list_item01 .bg_item {
    background: #DCE6F2;
  }
  #brand_story .h-information {
    padding-right: 35px;
  }
  #brand_story #header .box-header {
    width: calc(100% - 35px);
  }
  #brand_story .main-nav, #brand_story .header-contact, #brand_story .header-tel {
    display: none !important;
  }
  .under #main .blog_box {
    margin-top: -10px;
  }
  .under #main .blog_box .h3_title {
    margin-bottom: 40px;
  }
  .under #main .blog_list dd .title a:hover {
    text-decoration: underline;
  }
  .under #main .blog_list dt a:hover {
    opacity: 0.7;
  }
  .under #main .blog_aside ul li a:hover {
    text-decoration: underline;
  }
  .logo02{display: none;}
  .change_logo .logo02{display: block;}
  .change_logo .logo01{display: none;}
}
@media screen and (min-width: 751px) and (max-width: 1240px){
  .brand_slider {
    padding-bottom: calc(100vh + calc(1240px - 100vw));
  }
  .brand_slider.active_1 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 1)
  }
  .brand_slider.active_2 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 2)
  }
  .brand_slider.active_3 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 3)
  }
  .brand_slider.active_4 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 4)
  }
  .brand_slider.active_5 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 5)
  }
  .brand_slider.active_6 {
    padding-top: calc(calc(100vh + calc(1240px - 100vw)) * 6)
  }
}

@media screen and (max-width: 750px) {
  .under footer {
    margin-top: 60px;
  }
  /*section*/
  .under .section {
    padding: 0 0 40px;
    box-sizing: border-box;
  }
  .under #content p {
    line-height: 1.8em;
    margin-bottom: 1.8em;
  }
  .under #content .image_r, .under #content .image_l {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
  }
  .under #content .flex_2img img {
    width: 45%;
  }
  .under #content .flex_2img img:last-child {
    margin-left: 10px;
  }
  .under #content .frame01 .image_l, .under #content .frame01 .image_r {
    margin: 0 auto 25px;
  }
  /*top_info*/
  .under #top_info {
    background: url('../images/under_bg_main-sp.jpg') no-repeat center /750px;
  }
  .under #top_info .inner {
    height: 300px;
  }
  .under #topic_path {
    margin-bottom: 30px;
  }
  .under #topic_path ul {
    padding: 0;
  }
  .under #topic_path li {}
  /*<h2> - <h3> - <h4> - <h5> - <h6>*/
  .under .h2_title {
    font-size: 24px;
  }
  .under .h3_title {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .under .h3_title:before {
    bottom: -10px;
  }
  .under .h4_title {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .under .h5_title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .under .h5_title:before{top: 16px;}
  .under .h6_title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  /*table*/
  .under table th, .under table td {
    padding: 10px;
    line-height: 1.8em;
    font-size: 14px;
  }
  .under #content .list01 li:before {
    top: 7px;
  }
  .under table .tbl_title {
    font-size: 14px;
  }
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  /* table scroll                                                        */
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  .under .tb_scroll {
    overflow: scroll;
    margin-bottom: 10px
  }
  .under .tb_scroll > table {
    width: 750px;
  }
  .under #content .txt_note {
    font-size: 12px;
    color: #AFAFAF;
    display: block;
  }
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  /* table block                                                        */
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  .under #content table.tb_block > tbody > tr > th, .under #content table.tb_block > tbody > tr > th + th, .under #content table.tb_block > tbody > tr > td {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
  }
  .under table.tb_block > tbody > tr > th, .under table.tb_block > tbody > tr > td {
    border: #2D425B 1px solid;
  }
  .under table.tb_block > tbody > tr > td.bot_none, .under table.tb_block > tbody > tr > td:not(:last-child) {
    border-bottom: none;
  }
  .under table.tb_block > tbody > tr {
    border-bottom: none;
  }
  .under table.tb_block > tbody > tr > td.sp_border {
    border-bottom: #2D425B 1px solid;
  }
  .under #content table.tb_block > tbody > tr > td.sp_none {
    display: none !important;
  }
  .under #content .table_float, .under #content .table_float tbody, .under #content .table_float tr, .under #content .table_float td {
    width: 100%;
    display: block;
  }
  .under #content .table_float .tb_none {
    display: none;
  }
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  /* table tb_box                                                        */
  /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  .under table.tb_box {
    border: none;
    overflow: hidden;
  }
  .under table.tb_box thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .under table.tb_box tbody tr {
    display: block;
  }
  .under #main .tb_none {
    display: none;
  }
  .under table.tb_box th, .under table.tb_box td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border: #575757 1px solid;
    border-bottom: none;
  }
  .under table.tb_box th {
    border: none;
  }
  .under table.tb_box tbody tr th:before, .under table.tb_box tbody tr td:before {
    content: attr(data-label);
    width: calc(100% + 20px + 0.5%);
    margin-left: calc(-10px - 0.2%);
    margin-top: calc(-10px - 0.2%);
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0.5em;
    background: #2D425B;
    color: #fff;
    font-weight: 700;
  }
  /*list01*/
  .under #content .list01 li {}
  .under #content .list01 li:before {}
  /*under*/
  .under #content .txt_small {
    font-size: 12px;
  }
  .under #content .under_btn01, .under #content .anchor_link li {
    width: 260px;
  }
  .under #content .under_btn01 a, .under #content .anchor_link li a {font-size: 15px;}
  .under #content .frame01 {
    padding: 20px;
    border-width: 5px;
  }
  .under #content .title_frame01 {
    font-size: 18px;
  }
  .under #content .bnr01 a, .under #content .bnr02 li a {
    width: 100%;
    letter-spacing: 0px;
    padding: 3vw;
    height: auto;
    text-align: center;
    min-height: 20vw;
    font-size: 3.5vw;
    line-height: 1.6em;
  }
  .under #content .bnr01 a {
    padding: 4vw 4vw 4vw 6vw;
  }
  .under #content .bnr02 li a {
    min-height: 17vw;
  }
  .under #content .bnr02 li {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .under #content .bnr02 li + li {
    margin-top: 20px;
  }
  .under #content .bnr02 {
    flex-direction: column;
  }
  .under #content .bnr01 a:before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .under #content .bnr01 a:after {
    border-width: 7px 0 7px 12px;
    left: 4vw;
  }
  .under #content .bnr02 a:after {
    border-width: 0 0 12px 12px;
  }
  .under .under_map iframe {
    height: 50vw !important;
  }
  .under .box_qa dl {
    padding-left: 60px
  }
  .under .box_qa dl:after {
    left: 20px;
  }
  .under .box_qa dl dt span, .under .box_qa dl dd span {
    left: -60px;
    width: 40px;
    height: 40px;
  }
  .under .box_qa dl dt {
    font-size: 16px;
  }
  .under .box_qa dl dd {
    padding: 20px;
  }
  .under .step01 {
    padding: 10px;
  }
  .under .list_abc02 li {
    width: 100%;
    margin-bottom: 30px;
  }
  .under .list_abc02 li:last-child {
    margin-bottom: 0;
  }
  .under #content .list_abc02 li img {
    max-width: 350px;
  }
  .under .list_abc02 .color02:after {
    display: none;
  }
  .under #content .frame_logo, .under #content .frame_txt {
    margin-bottom: 20px;
  }
  .under .list_item01 li {
    width: 100%;
    padding: 20px;
  }
  .under .list_item01 li:nth-child(even) {
    background: #DCE6F2;
  }
  .under #content .title_item01:before {
    bottom: -15px;
  }
  .under #content .about_car.sp_full {
    width: 100%;
  }
  /*--- brand_story  ---*/
  #brand_story #header {
    padding: 0;
  }
  .inner_slider {
    width: 80%;
    font-size: 3vw;
  }
  .inner_slider .brand_h3 {
    margin-bottom: 3vw;
    font-size: 6vw;
  }
  .inner_slider .brand_h4 {
    margin-bottom: 5vw;
    font-size: 5vw;
  }
  .under #content .brand_title .brand_en {
    font-size: 4vw;
  }
  .under #content .brand_title .brand_jp {
    font-size: 5vw;
    margin: 2vw 0;
  }
  .brand_story_inner {
    padding: 40px 0;
  }
.brand_slider .slider01 .arrow_scroll {
    width: 13px;
  }
  .brand_slider.active_1 .slider01 .bkg span, .brand_slider.active_2 .slider02 .bkg span, .brand_slider.active_3 .slider03 .bkg span, .brand_slider.active_4 .slider04 .bkg span, .brand_slider.active_5 .slider05 .bkg span, .brand_slider.active_6 .slider06 .bkg span {
    background-attachment: inherit;
    background-size: cover;
  }
  .brand_slider.active_1 {
    padding-top: calc((100vh - 60px) * 1)
  }
  .brand_slider.active_2 {
    padding-top: calc((100vh - 60px) * 2)
  }
  .brand_slider.active_3 {
    padding-top: calc((100vh - 60px) * 3)
  }
  .brand_slider.active_4 {
    padding-top: calc((100vh - 60px) * 4)
  }
  .brand_slider.active_5 {
    padding-top: calc((100vh - 60px) * 5)
  }
  .brand_slider.active_6 {
    padding-top: calc((100vh - 60px) * 6)
  }
  .brand_slider.active_2 .slider02, .brand_slider.active_3 .slider03, .brand_slider.active_4 .slider04, .brand_slider.active_5 .slider05, .brand_slider.active_6 .slider06 {
    animation-duration: 5s;
  }
  /* WP */
  .under #main .blog_content {
    flex-direction: column;
  }
  .under #main .blog_aside {
    order: 2;
    width: 100%;
    margin-right: 0;
  }
  .under #main .blog_box {
    order: 1;
    width: 100%;
    margin-bottom: 40px;
  }


  .brand_slider.action.over .slider06{position: absolute; top: 51%;}
  .brand_slider.action.over .slider06 .bkg span{position: fixed;}

  .box-checkbox .mwform-checkbox-field:nth-of-type(5){margin-bottom: 0;}
  .sec05-list{height: auto;}

  /* CONTACT */
  .under #main .contact_box_list{padding-top: 20px;}
  .under #main .contact_box_list dl:not(:last-child){margin-right: 90px;}
  .under #main .contact_box_list dl:not(:last-child) dt span::after{width: 110px;}
  .under #main .contact_box_banner{width: 100%; max-width: 400px; margin-bottom: 30px;}
  .under #main .contact_box_banner .phone{flex-direction: column; align-items: center;}
  .under #main .contact_box_banner .phone .tel{margin-right: 0;}
  .under #main .contact_box_banner .phone .tel a{font-size: 42px;padding-left: 75px;}
  .under #main .contact_box_banner .phone .tel a::before{width: 63px; height: 38px;}
  .under #main .contact_box_banner .phone .fax{font-size: 17px;}
  .under #main .contact_box_banner .time{font-size: 14px; max-width: 325px; margin: 0 auto;}
  .under #main .contact_txt{margin-bottom: 30px;}

  .under #main .form_contact_tb dl{flex-direction: column; align-items: flex-start; padding: 20px 15px;}
  .under #main .form_contact_tb dl dt{width: 100%; margin-bottom: 15px;}
  .under #main .form_contact_tb dl dd{width: 100%;}
  .box-input input:not(:last-child){margin-right: 16px;}
  .box-input input{width: calc(50% - 8px);}
  input[type="text"], textarea{padding: 8px 15px; font-size: 14px;}
  .box-checkbox .mwform-checkbox-field:not(:last-child){margin-bottom: 10px;}
  .under #main .contact_privacy > .tt, .mwform-checkbox-field-text{font-size: 14px;}
  input[type="checkbox"] + span:before{width: 24px; height: 24px;}
  input[type="checkbox"] + span{padding-left: 30px;}
  .box-checkbox .mwform-checkbox-field:not(:last-child){margin-right: 15px;}
  .under #main .contact_privacy{max-width: 400px; width: 100%; padding: 25px 10px; margin-bottom: 40px;}
  .under #main .form_contact_tb{margin-bottom: 40px;}
  .under #main .mw_wp_form .error{font-size: 75%;}
  .under #main .detal_cate{margin-bottom: 30px;}
  .under #main .input_w47{width: 100%;}

  .alignleft, .alignright{display: block;float: inherit;margin: 0 auto 20px auto;max-width:500px!important; width: 100%; max-width: 100%;}

  .under#topics #content img,.under#activities #content img,.under#column #content img{height: auto;}

  .logo01{display: none;}
  .logo02{display: block;}
}
@media screen and (max-width: 640px) {
  .under #main #form_confirm .btn_submit{flex-direction: column;}
  #form_confirm .btn_submit input[name="submitBack"]{margin-bottom: 20px;}
}
@media screen and (max-width: 530px) {}
@media screen and (max-width: 490px) {
  .under #content .bnr01 a {
    min-height: 24vw;
  }
  .under #content .bnr02 li a {
    font-size: 4vw;
  }
  .under #main .blog_list dl {
    flex-direction: column;
  }
  .under #main .blog_list dt {
    width: 90%;
    height: 55vw;
    margin: 0 auto 20px auto;
  }
  .under #main .blog_list dd {
    width: 100%;
  }
  .under #main .blog_list dd .blog_txt {
    -webkit-line-clamp: 3; margin-bottom: 10px;
  }
  .under #main .blog_list dl {
    padding: 25px 0 20px;
  }
  .under #main .blog_list dd .title{margin-bottom: 10px;}
}
@media screen and (max-width: 450px) {}
@media screen and (max-width: 414px) {
  .under #content .list_abc02 li img {
    max-width: 100%;
  }
  .under #main .contact_box_banner{padding: 25px 4%;}
  .under #main .contact_box_banner .phone .tel a{font-size: 35px; padding-left: 65px;}
  .under #main .contact_box_banner .phone .tel a::before{width: 53px; height: 31px; top: calc(50% - 13px);}
  .under #main .contact_box_banner .phone .fax{font-size: 14px;}
  .under #main .contact_box_banner .time{font-size: 12px; max-width: 275px;}
}
@media screen and (max-width: 360px) {}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {}